<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()

        <hr />
        <p>@Html.ActionLink("Register", "Register", "Account")</p>
        <p>@Html.ActionLink("Log in", "Login", "Account")</p>
        <p>@Html.ActionLink("Home", "Index", "Home")</p>
    </div>
</body>
</html>
